* {
    margin:  0;
    padding: 0;
    font-family: 'Poppins', sans-serif;    
}

.container {
    width: 90%;
    height: 90%;
    background: #ccc;
    margin: 120px auto;
    display: flex;
}

.col {
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.5s;
}
.col:nth-child(1){
    background-image: url("img1.jpg");
}
.col:nth-child(2){
    background-image: url("img1.jpg");
}
.col:nth-child(3){
    background-image: url("img1.jpg");
}
h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.caption{
    max-width: 230px;
    font-size: 15px;
    max-width: 230px;
    font-size: 15px;
}

.caption button{
    max-width: 230px;
    font-size: 15px;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
}